/* ABOUT PAGE */

body{
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f5f2ed;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
}

nav a{
    margin: 0 10px;
    text-decoration: none;
    color: #333;
}



.animals h1{
    text-align: center;
    background-color: #d8cfc4;
    padding: 10px;
    border-radius: 8px;
    width: 60%;
    margin: 20px auto;
}

.card-container{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}


.card{
    background: white;
    padding: 15px;
    border-radius: 12px;
    width: 300px;
    text-align: center;
}


.card img{
    width: 100%;
    border-radius: 10px;
}



button{
    background-color: #5c7266;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
}



footer{
    text-align: center;
    background-color: #d8cfc4;
    padding: 15px;
}

/* tablet */
@media (max-width: 900px){
    .card-container{
        flex-wrap: wrap;
        justify-content: center;
    }

    .card{
        width: 45%;
    }
}

/* phone */

@media (max-width: 600px){
    .card-container{
        flex-direction: column;
        align-items: center;
    }

    .card{
        width: 90%;
    }

    nav{ 
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}